body{
    background-image: url("Imagens/Fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
}
header{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
    height: 120px;
}
.navegacao{
    display: grid;
    padding-bottom: 20px;
}
ul.navegacao_lista{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6,170px);
    grid-template-rows: 60px;
}
a.tags:link{
    text-decoration: none;
    color: red;
}
a.tags:visited{
    text-decoration: none;
}
a.tags:hover{
    text-decoration: underline;
    color: red;
}
a.tags:activer{
    text-decoration: none;
}
.tags{
    color:red;   
}
.texto{
    background-color: rgba(255,255,255,0.7);
    border: 2px solid sandybrown;
    margin-top: 25px;
    font-size: 22px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 43px;
    padding-bottom: 43px;
}
.grid{
    display: grid;   
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}
.grid-item{
    background-color: rgba(255,255,255,0.7);
    border: 2px solid sandybrown;
    height: 260px;
    max-width: 605px;
}
.titulo{
    color: blue;
}
.lista{
   font-size: 18px;
}
